/* 改变主题色变量 */
//$--color-primary: #000000;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
body, html {
  margin: 0;
  //background: #1d1f38;
  //color: white;
}

@import "~element-ui/packages/theme-chalk/src/index";